<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basic_project_labaratory">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basic_project_labaratory"
        tools:targetApi="31">
    <activity
        android:name=".main_activity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".LoginActivity"
            android:exported="true">
        </activity>
        <activity android:name=".SignUpActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".personalInformationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".uiHomeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Ranking1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Ranking2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MygroupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".home2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".mission1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Mission2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".informationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".feedbackActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".feedback2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".feedback3Activity"
            android:exported="true">
        </activity>

    </application>



</manifest>